/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
}

img{
  display: inline-block;
  width: 100px;
  margin: 0 auto;
}

input {
  margin: 5px auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
